* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 200%;
    height: auto;
    background: black;
}


/*设置整个大容器*/

.wrap {
    width: 100%;
    height: 800px;
    position: relative;
    background: url(../img/background-1.png) no-repeat;
    background-size: 100% 100%;
}

.logo {
    width: 168px;
    height: 63px;
    float: left;
    background: url(../img/54545.png) no-repeat;
    background-size: 174%;
    background-position: -69px -90px;
}

.line1 {
    float: left;
    width: 100%;
    height: 100px;
}

.timo {
    width: 99px;
    height: 91px;
    float: left;
    background: url(../img/54545.png) no-repeat;
    background-size: 275%;
    background-position: 17px -68px;
    animation: aa 2s ease infinite;
    -webkit-animation: aa 2s ease infinite;
}

.timo-words {
    position: absolute;
    left: 50%;
    top: 64px;
    width: 120px;
    height: 54px;
    margin-left: -13px;
    text-align: center;
    font-size: 10px;
    background: url(../img/background-1.png) no-repeat;
    background-size: 100% 100%;
    z-index: 999;
}


/*设置提莫动画*/

@keyframes aa {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(-10px, -10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}

@-webkit-keyframes aa {
    50% {
        -webkit-transform: translate(-10px, -10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}


/*设置上周幸运英雄*/

.lastmonth {
    width: 127px;
    height: 52px;
    float: left;
    line-height: 52px;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-top: 29px;
    background: url(../img/div.png) no-repeat;
    background-size: 214%;
    background-position: -146px -1px;
    transition: all 1s linear;
}


/*设置倒计时*/

.time {
    width: 127px;
    height: 52px;
    float: right;
    margin-right: 10px;
    margin-top: 29px;
    line-height: 26px;
    text-align: center;
    color: white;
    background: url(../img/div.png) no-repeat;
    background-size: 214%;
    background-position: -146px -1px;
}


/*设置倒计时进度条*/

.line {
    width: 100px;
    height: 5px;
    background: green;
    float: left;
    margin-top: 5px;
    margin-left: 12px;
    border-radius: 5px;
    transition: all 0.5s linear;
}

@-webkit-keyframes line_color {
    100% {
        background: red;
    }
}

.hero-class {
    width: 100%;
    height: 65px;
    float: left;
}


/*设置远程近程类别*/

.melee {
    float: left;
    width: 150px;
    height: 50px;
    margin-left: 14px;
    border-radius: 10px;
    background: url(../img/element.png) no-repeat;
    background-size: 318%;
    background-position: -257px -195px;
}

.remote {
    float: right;
    width: 150px;
    height: 50px;
    margin-right: 14px;
    border-radius: 10px;
    background: url(../img/element.png) no-repeat;
    background-size: 322%;
    background-position: -181px -135px;
}

.hero-class1 {
    width: 100%;
    height: 41px;
    float: left;
}

.melee-ad,
.remote-ad {
    float: left;
    width: 75px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    background: url(../img/element.png) no-repeat;
    background-size: 429%;
    background-position: -5px -36px;
}

.melee-ap,
.remote-ap {
    float: right;
    width: 75px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    color: white;
    margin-right: 10px;
    border-radius: 10px;
    background: url(../img/element.png) no-repeat;
    background-size: 429%;
    background-position: -5px -36px;
}

.heros {
    width: 100%;
    float: left;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.melee-hero {
    width: 50%;
    height: auto;
    float: left;
}

.remote-hero {
    width: 50%;
    height: auto;
    float: right;
}

.melee-hero > div {
    float: left;
    width: 76px;
    height: 105px;
    margin-bottom: 10px;
}

.remote-hero > div {
    float: right;
    width: 76px;
    height: 105px;
    margin-bottom: 10px;
}

.hero1 {
    background: url(../img/heros1.png) no-repeat;
    background-size: 491%;
    background-position: -30px -98px;
}

.hero2 {
    background: url(../img/heros1.png) no-repeat;
    background-size: 491%;
    background-position: -22px 0px;
}

.hero3 {
    background: url(../img/heros1.png) no-repeat;
    background-size: 491%;
    background-position: -136px -98px;
}

.hero4 {
    background: url(../img/heros1.png) no-repeat;
    background-size: 491%;
    background-position: -149px 1px;
}

.hero5 {
    background: url(../img/heros1.png) no-repeat;
    background-size: 491%;
    background-position: -276px -104px;
}

.hero6 {
    background: url(../img/heros1.png) no-repeat;
    background-size: 491%;
    background-position: -279px -2px;
}

.hero7 {
    background: url(../img/heros1.png) no-repeat;
    background-size: 491%;
    background-position: -254px -306px;
}

.hero8 {
    background: url(../img/heros1.png) no-repeat;
    background-size: 491%;
    background-position: -278px -206px;
}

.hero9 {
    background: url(../img/heros1.png) no-repeat;
    background-size: 491%;
    background-position: -161px -306px;
}

.hero10 {
    background: url(../img/heros1.png) no-repeat;
    background-size: 491%;
    background-position: -168px -207px;
}

.hero11 {
    background: url(../img/heros1.png) no-repeat;
    background-size: 491%;
    background-position: -37px -311px;
}

.hero12 {
    background: url(../img/heros1.png) no-repeat;
    background-size: 491%;
    background-position: -39px -214px;
}


/*用户框*/

.users {
    width: 100%;
    height: 85px;
    float: left;
    background: url(../img/element.png) no-repeat;
    background-size: 100% 1300%;
    background-position: 0px -340px;
}

.melee,
.remote,
.hero-class1 > div,
.melee-hero>div,
.remote-hero>div {
    position: relative;
}


/*底部*/

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 61px;
    background: url(../img/element.png) no-repeat;
    background-size: 100% 1200%;
    background-position: -2px -559px;
    line-height: 61px;
    text-align: center;
    color: white;
}


/*每个栏目的投注金额显示*/

.num {
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


/*游戏结果动画*/

.screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 600;
}

.herolist {
    width: 100%;
    height: 123px;
    margin-top: 45px;
    background: url(../img/background-1.png) no-repeat;
    background-size: 100% 100%;
}

.herolist-content {
    position: relative;
    width: 1000%;
    height: 100%;
    -webkit-transition: all 2s ease;
}

.herolist-content > div {
    float: left;
    width: 76px;
    height: 105px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    transition: 1s all linear;
}

@-webkit-keyframes bb {
    0% {
        -webkit-transform: scale(2);
    }
    50% {
        -webkit-transform: scale(2.2);
    }
    100% {
        -webkit-transform: scale(2);
    }
}


/*适配小屏幕设备*/

@media screen and (max-width: 370px) {
    .lastmonth {
        width: 127px;
        height: 52px;
        float: left;
        line-height: 52px;
        text-align: center;
        color: white;
        margin-left: 0;
        margin-top: 29px;
        background: url(../img/div.png) no-repeat;
        background-size: 214%;
        background-position: -146px -1px;
        transition: all 1s linear;
    }
    .time {
        width: 127px;
        height: 52px;
        float: right;
        margin-right: 0;
        margin-top: 29px;
        line-height: 26px;
        text-align: center;
        color: white;
        background: url(../img/div.png) no-repeat;
        background-size: 214%;
        background-position: -146px -1px;
    }
    .timo {
        width: 55px;
        height: 52px;
        float: left;
        margin-top: 26px;
        background: url(../img/54545.png) no-repeat;
        background-size: 257%;
        background-position: 17px -33px;
        animation: aa 2s ease infinite;
    }
    .melee {
        float: left;
        width: 141px;
        height: 50px;
        margin-left: 14px;
        border-radius: 10px;
        background: url(../img/element.png) no-repeat;
        background-size: 318%;
        background-position: -257px -195px;
    }
    .remote {
        float: right;
        width: 140px;
        height: 41px;
        margin-right: 14px;
        border-radius: 10px;
        background: url(../img/element.png) no-repeat;
        background-size: 322%;
        background-position: -181px -135px;
    }
    .melee-ad,
    .remote-ad {
        float: left;
        width: 73px;
        height: 29px;
        line-height: 29px;
        text-align: center;
        color: white;
        margin-left: 10px;
        border-radius: 10px;
        background: url(../img/element.png) no-repeat;
        background-size: 429%;
        background-position: -5px -36px;
    }
    .melee-ap,
    .remote-ap {
        float: right;
        width: 67px;
        height: 26px;
        line-height: 29px;
        text-align: center;
        color: white;
        margin-right: 10px;
        border-radius: 10px;
        background: url(../img/element.png) no-repeat;
        background-size: 429%;
        background-position: -5px -33px;
    }
    .heros {
        width: 100%;
        float: left;
        height: auto;
        padding-right: 0;
        padding-left: 0;
        box-sizing: border-box;
    }
}


/*金豆*/

.gold-bean,
.gold-bean1,
.gold-bean2,
.gold-bean3,
.gold-bean4 {
    position: fixed;
    width: 37px;
    height: 20px;
    bottom: 26px;
    left: 50%;
    background: url(../img/element.png) no-repeat;
    background-size: 738%;
    background-position: -5px -33px;
    border-radius: 18px;
    -webkit-transition: all 0.3s ease;
    z-index: 999;
}

.gold-bean1 {
    -webkit-transition: all 0.3s ease-in;
}

.gold-bean2 {
    -webkit-transition: all 0.3s linear;
}

.gold-bean3 {
    -webkit-transition: all 0.5s linear;
}

.gold-bean4 {
    -webkit-transition: all 0.6s linear;
}


/*设置出奖结果面板展示*/

.result-show {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 40%;
    margin: -150px 0 0 -150px;
    background: url(../img/background-1.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    transition: all 1s ease;
}

.major-classes {
    float: left;
    width: 300px;
    height: 75px;
}

.major-class1,
.major-class2 {
    float: left;
    width: 150px;
    height: 75px;
    margin-top: 20px;
}

.major-class2>div {
    margin-left: 37.5px;
}

.lucky-hero {
    position: absolute;
    top: 75px;
    left: 0;
    width: 300px;
    height: 225px;
    z-index: -1;
}
