/*赛程导航栏*/

.team-h {
    border-bottom: 1px solid rgba(136, 136, 153, 0.3);
}

.team-h li {
    position: relative;
    list-style: none;
    float: left;
    width: 50%;
    height: 100%;
}

.h-icon {
    position: absolute;
    top: 26%;
    right: 26%;
    width: 12px;
    height: 9px;
}

.h-icon img {
    width: 100%;
    height: 100%;
}

.sub-h {
    width: 100%;
    height: auto;
    background: rgb(13, 15, 20);
    position:fixed;
    top: 130px;
    z-index: 910;
}

.lol-event {
    width: 24%;
    float: left;
    height: 31px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 4.5%;
    margin-left: 4.5%;
    border-radius: 10px;
    background: rgb(13, 15, 20);
    line-height: 30px;
    text-align: center;
    border: 1px solid #838d92;
    color: #838d92;
}

.lol-event-active{
  color: rgb(38,191,242);
  border-color: rgb(38,191,242);
}

/*.race-s-header{
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: rgb(29,43,50);
    top: 130px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 900;
}*/
.race-s-header{

    width: 100%;
    height: 30px;
    background-color: rgb(29,43,50);

    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 900;
}
.race-s-header span{
  display: block;
  line-height: 30px;
  font-size: 10px;
  color: #838d92
}
.race-s-header span:nth-of-type(1){
  float: left;
}
.race-s-header span:nth-of-type(2){
  display: inline;
}
.race-s-header span:nth-of-type(3){
  float: right;
}
/*赛程列表*/
/*.team-list{
    position: absolute;
    top: 160px;
    width: 100%;
    overflow: hidden;
}*/
.team-list{

    width: 100%;
    overflow: hidden;
}
