* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
    background: rgb(22, 18, 28);
}


/*去除mobile jquery上出现的loading*/

.ui-loader-default {
    display: none
}

.ui-mobile-viewport {
    border: none;
}

.ui-page {
    padding: 0;
    margin: 0;
    outline: 0
}


/*主题容器*/

.wraper {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


/*头部*/

header {
    width: 100%;
    height: 70px;
    background: url(../img/nav.png) no-repeat;
    background-size: 100% 100%;
}


/*金币充值栏*/

.gold_show {
    width: 108px;
    height: 28px;
    position: relative;
    float: left;
    margin-top: 9px;
    margin-left: 20px;
    background: url(../img/notice_content.png) no-repeat;
    background-size: 100% 100%;
}

.gold_content {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 29px;
    color: rgb(207, 207, 248);
    font-size: 13px;
}

.gold_logo {
    position: absolute;
    width: 35px;
    height: 32px;
    left: -10px;
    top: 0;
    background: url(../img/gold.png) no-repeat;
    background-size: 100% 100%;
}

.gold_plus {
    position: absolute;
    width: 39px;
    height: 28px;
    right: -10px;
    top: 0px;
    background: url(../img/plus.png) no-repeat;
    background-size: 200% 100%;
}


/*幕布*/

.screen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    background: rgba(27, 6, 18, 0.7);
}


/*金币重置弹出框*/

.gold_pop_up {
    width: 100%;
    height: 503px;
    position: absolute;
    z-index: 501;
    top: 35px;
    background: url(../img/recharge/main_bg.png) no-repeat;
    background-size: 100% 100%;
}

.gpp_container {
    width: 83%;
    height: 89%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 41px;
    box-sizing: border-box;
}

.gpp_top {
    width: 95%;
    height: 23px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 52px;
    line-height: 23px;
    border-radius: 3px;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 4px;
    color: rgb(181, 142, 67);
    background: rgb(33, 26, 42);
}

.gold_detail {
    width: 89px;
    height: 100%;
    float: right;
    margin-right: 1px;
}

.golds_icon {
    width: 20px;
    height: 100%;
    float: left;
    font-size: 15px;
    background: url(../img/recharge/gold_icon.png) no-repeat;
    background-size: 100% 100%;
}

.gold_lv {
    width: 46%;
    height: 131px;
    margin-left: 2%;
    margin-top: 10px;
    float: left;
    background: url(../img/recharge/bg1.png) no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.gold_1 {
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 10px;
}

.gold_img {
    width: 53px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.gold_img1 {
    background: url(../img/recharge/gold.png) no-repeat;
    background-size: 555% 100%;
    background-position: -1px 0;
}

.gold_img2 {
    background: url(../img/recharge/gold.png) no-repeat;
    background-size: 555% 100%;
    background-position: -68px 0;
}

.gold_img3 {
    background: url(../img/recharge/gold.png) no-repeat;
    background-size: 555% 100%;
    background-position: -222px 0;
}

.gold_img4 {
    background: url(../img/recharge/gold.png) no-repeat;
    background-size: 469% 100%;
    background-position: -120px 0;
}

.gpp_content p {
    color: rgb(221, 190, 67);
}

.get_btn {
    width: 83px;
    height: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background: url(../img/recharge/get.png) no-repeat;
    background-size: 211% 100%;
    background-position: 0px 0;
}

.gold_lv5 {
    width: 94%;
    height: 111px;
    margin-left: 2%;
    margin-top: 10px;
    float: left;
    background: url(../img/recharge/bg2.png) no-repeat;
    background-size: 100% 100%;
}


/*领奖按钮*/

.accept_prize {
    width: 40px;
    height: 41px;
    float: right;
    margin-top: 5px;
    margin-right: 28px;
    background: url(../img/prize.png) no-repeat;
    background-size: 100% 100%;
}


/*横幅*/

.banner {
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 39px;
    height: 185px;
    background: url(../img/banner.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    -webkit-animation: aa 2s ease infinite;
}

@-webkit-keyframes aa {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(-3px, -3px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}


/*公告栏*/

.notice_board {
    position: absolute;
    width: 100%;
    top: 207px;
    height: 58px;
    background: url(../img/notice_board.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    box-sizing: border-box;
}


/*公告栏中的正方体*/

.notice {
    width: 100%;
    margin-top: 20px;
    height: 24px;
    overflow: hidden;
}

.cube {
    position: relative;
    width: 56%;
    height: 28px;
    float: left;
    margin-left: 20%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 14px;
    -webkit-transform: rotateX(0deg);
    margin-left: 23%;
    margin-right: auto;
    -webkit-transition: all 0.5s ease;
}

@keyframes rr {
    100% {
        transform: rotateX(360deg);
    }
}

@-webkit-keyframes rr {
    100% {
        transform: rotateX(360deg);
    }
}

.cube div {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 26px;
    color: white;
    font-size: 12px;
    color: rgb(132, 148, 198);
}

.cube div span {
    color: rgb(240, 183, 22);
}

.back {
    background: rgb(27, 20, 30);
    transform: translateZ(-14px) rotateY(0deg) rotateX(180deg);
}

.right {
    background: rgb(27, 20, 30);
    transform: rotateY(-270deg) translateX(14px);
    transform-origin: top right;
}

.left {
    background: rgb(27, 20, 30);
    transform: rotateY(270deg) translateX(-14px);
    transform-origin: center left;
}

.top {
    background: rgb(27, 20, 30);
    transform: rotateX(-270deg) rotateZ(180deg) rotateZ(180deg) translateY(-14px);
    transform-origin: top center;
}

.bottom {
    background: rgb(27, 20, 30);
    transform: rotateX(270deg) translateY(14px);
    transform-origin: bottom center;
}

.front {
    background: rgb(27, 20, 30);
    transform: translateZ(14px);
}


/*子导航栏*/

.sub_nav {
    width: 100%;
    height: 94px;
    margin-top: 154px;
    float: left;
    z-index: -100;
}

.section1 {
    float: left;
    height: 100%;
    width: 142px;
    margin-left: 39px;
    background: url(../img/sub_nav11.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}

.section2 {
    float: right;
    height: 100%;
    width: 141px;
    margin-right: 39px;
    background: url(../img/sub_nav22.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}


/*适配小屏幕设备*/

@media screen and (max-width: 370px) {
    .sub_nav {
        width: 100%;
        height: 88px;
        margin-top: 154px;
        float: left;
        z-index: -100;
    }
    .section1 {
        float: left;
        height: 100%;
        width: 121px;
        margin-left: 36px;
        background: url(../img/sub_nav11.png) no-repeat;
        background-size: 100% 100%;
        background-position: 0 0;
    }
    .section2 {
        float: right;
        height: 100%;
        width: 121px;
        margin-right: 36px;
        background: url(../img/sub_nav22.png) no-repeat;
        background-size: 100% 100%;
        background-position: 0 0;
    }
}


/*子导航栏的不同状态*/

.active1 {
    background: url(../img/sub_nav11.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}

.active2 {
    background: url(../img/sub_nav21.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}

.no_active1 {
    background: url(../img/sub_nav12.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}

.no_active2 {
    background: url(../img/sub_nav22.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}


/*游戏与竞猜模块*/

.games {
    position: relative;
    width: 200%;
    float: left;
    -webkit-transition: all 0.5s ease;
    height: 270px;
}


/*游戏竞猜子模块*/

.game,
.guess {
    width: 50%;
    height: 270px;
    float: left;
}

.fight {
    width: 100%;
    height: 135px;
    float: left;
    background: url(../img/fight.png) no-repeat;
    background-size: 100% 100%;
    transition: all 1s ease;
}

.hero {
    width: 100%;
    height: 135px;
    float: left;
    background: url(../img/hero.png) no-repeat;
    background-size: 100% 100%;
    transition: all 1s ease;
}


/*底部*/

footer {
    position: fixed;
    width: 100%;
    height: 20px;
    bottom: 0;
    background: url(../img/footer.png) no-repeat;
    background-size: 100% 100%;
}
