* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
    background: rgb(22, 18, 28);
}

a {
    text-decoration: none;
}


/*去除mobile jquery上出现的loading*/

.ui-loader-default {
    display: none
}

.ui-mobile-viewport {
    border: none;
}

.ui-page {
    padding: 0;
    margin: 0;
    outline: 0
}


/*主题容器*/

.wraper {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


/*签到和首次登陆*/

.screen3 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    background: rgba(27, 6, 18, 0.7);
}

.test_user_first {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 20%;
    text-align: center;
    margin-left: -150px;
    background: blue;
}

.test_user_past {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 20%;
    text-align: center;
    margin-left: -150px;
    background: red;
}

.test_btn {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 50%;
    bottom: 10%;
    margin-left: -50px;
    line-height: 30px;
    text-align: center;
    background: yellow;
}

.test1_close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    background: red;
    line-height: 30px;
}

.past-days {
    width: 20%;
    height: 60px;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background: black;
    color: white;
}

.test_success {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50px;
    background: green;
    margin-left: -100px;
    margin-top: -100px;
    line-height: 200px;
    text-align: center;
}

.test_fail {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50px;
    background: red;
    margin-left: -100px;
    margin-top: -100px;
    line-height: 200px;
    text-align: center;
}


/*头部*/

header {
    width: 100%;
    height: 70px;
    background: url(../img/nav.png) no-repeat;
    background-size: 100% 100%;
}


/*金币充值栏*/

.gold_show {
    width: 108px;
    height: 28px;
    position: relative;
    float: left;
    margin-top: 9px;
    margin-left: 20px;
    background: url(../img/notice_content.png) no-repeat;
    background-size: 100% 100%;
}

.gold_content {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 29px;
    color: rgb(207, 207, 248);
    font-size: 13px;
}

.gold_logo {
    position: absolute;
    width: 35px;
    height: 32px;
    left: -10px;
    top: 0;
    background: url(../img/gold.png) no-repeat;
    background-size: 100% 100%;
}

.gold_plus {
    position: absolute;
    width: 39px;
    height: 28px;
    right: -10px;
    top: 0px;
    background: url(../img/plus.png) no-repeat;
    background-size: 200% 100%;
}

.gold_plus_dark {
    background: url(../img/plus.png) no-repeat;
    background-size: 200% 100%;
    background-position: 99% 0;
}


/*幕布*/

.screen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    background: rgba(27, 6, 18, 0.7);
}


/*金币充值弹出框*/

.gold_pop_up {
    width: 100%;
    height: 503px;
    position: absolute;
    z-index: 501;
    top: 35px;
    background: url(../img/recharge/main_bg.png) no-repeat;
    background-size: 100% 100%;
}

.gold_popo_up_close {
    position: absolute;
    width: 39px;
    height: 35px;
    background: url(../img/recharge/close.png) no-repeat;
    background-size: 200% 100%;
    background-position: -37px 0;
    right: 15px;
    top: 20px;
}

.gold_popo_up_close_dark {
    background: url(../img/recharge/close.png) no-repeat;
    background-size: 200% 100%;
    background-position: 0 0;
}

.gpp_container {
    width: 83%;
    height: 89%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 41px;
    box-sizing: border-box;
}

.gpp_top {
    width: 95%;
    height: 23px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 52px;
    line-height: 23px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    box-sizing: border-box;
    padding-left: 4px;
    color: rgb(181, 142, 67);
    background: rgb(33, 26, 42);
}

.gold_detail {
    width: 89px;
    height: 100%;
    float: right;
    margin-right: 1px;
}
.gold_detail a{
   color: rgb(181, 142, 67);
}
.golds_icon {
    width: 20px;
    height: 100%;
    float: left;
    font-size: 15px;
    background: url(../img/recharge/gold_icon.png) no-repeat;
    background-size: 100% 100%;
}

.gold_lv {
    position: relative;
    width: 46%;
    height: 131px;
    margin-left: 2%;
    margin-top: 10px;
    float: left;
    background: url(../img/recharge/bg1.png) no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.gold_1 {
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 10px;
}

.gold_img {
    width: 53px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.gold_img1 {
    background: url(../img/recharge/gold.png) no-repeat;
    background-size: 555% 100%;
    background-position: -1px 0;
}

.gold_img2 {
    background: url(../img/recharge/gold.png) no-repeat;
    background-size: 555% 100%;
    background-position: -68px 0;
}

.gold_img3 {
    background: url(../img/recharge/gold.png) no-repeat;
    background-size: 555% 100%;
    background-position: -222px 0;
}

.gold_img4 {
    background: url(../img/recharge/gold.png) no-repeat;
    background-size: 469% 100%;
    background-position: -120px 0;
}

.gpp_gold_num {
    width: 100%;
    height: 15px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    color: rgb(221, 190, 67);
    margin-top: 0px;
    margin-bottom: 0;
}

.gpp_gold_num span {
    color: rgb(221, 190, 67);
}

.gold_lv > span {
    margin-top: 0;
    color: rgb(174, 154, 194);
    font-size: 10px;
}

.get_btn {
    position: absolute;
    width: 83px;
    height: 27px;
    bottom: 9px;
    left: 50%;
    margin-left: -42px;
    margin-top: 10px;
    background: url(../img/recharge/get.png) no-repeat;
    background-size: 211% 100%;
    background-position: 0px 0;
}

.gold_lv5 {
    width: 94%;
    height: 111px;
    margin-left: 2%;
    margin-top: 10px;
    float: left;
    background: url(../img/recharge/bg2.png) no-repeat;
    background-size: 100% 100%;
}

.gold_img5 {
    float: left;
    width: 30%;
    height: 82px;
    margin-top: 11px;
    margin-left: 14%;
    background: url(../img/recharge/gold_max.png) no-repeat;
    background-size: 100% 100%;
}

.gold_lv5_num {
    width: 122px;
    height: 15px;
    float: right;
    margin-top: 32px;
    margin-right: 14px;
}

.gold_lv5_minus {
    width: 16px;
    height: 15px;
    float: left;
    background: url(../img/recharge/minus.png) no-repeat;
    background-size: 200% 100%;
    background-position: 0 0;
}

.gold_lv5_minus_active {
    background: url(../img/recharge/minus.png) no-repeat;
    background-size: 200% 100%;
    background-position: -17px 0;
}

.gold_lv5_num_content {
    width: 84px;
    height: 15px;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    background: rgb(33, 29, 49);
    color: rgb(221, 190, 67);
    font-size: 13px;
    line-height: 15px;
    border-radius: 3px;
    text-align: center;
}

.gold_lv5_plus {
    width: 16px;
    height: 15px;
    float: left;
    background: url(../img/recharge/plus.png) no-repeat;
    background-size: 100% 100%;
}

.lv5_present {
    width: 121px;
    height: 15px;
    float: right;
    margin-right: 14px;
    text-align: center;
    color: rgb(174, 154, 194);
    font-size: 10px;
    line-height: 15px;
}

.lv5_get_btn {
    width: 83px;
    height: 27px;
    float: right;
    margin-right: 34px;
    margin-top: 2px;
    background: url(../img/recharge/get.png) no-repeat;
    background-size: 211% 100%;
    background-position: 0px 0;
}

.get_btn_dark {
    background: url(../img/recharge/get.png) no-repeat;
    background-size: 211% 100%;
    background-position: -87px 0;
}


/*单个金币充值弹出框*/

.screen1 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 600;
    background: rgba(27, 6, 18, 0.8);
}

.single_gold_popup {
    position: absolute;
    width: 80%;
    height: 290px;
    top: 273px;
    left: 50%;
    z-index: 601;
    margin-left: -40%;
    margin-top: -145px;
    background: url(../img/recharge/single_popup/background.png) no-repeat;
    background-size: 100% 100%;
}

.sgp_close {
    position: absolute;
    width: 35px;
    height: 33px;
    top: 0;
    right: 0;
    background: url(../img/recharge/close.png) no-repeat;
    background-size: 200% 100%;
    background-position: -33px 0;
}

.sgp_close_dark {
    background: url(../img/recharge/close.png) no-repeat;
    background-size: 200% 100%;
    background-position: 0 0;
}

.sgp_golds {
    width: 100%;
    margin-top: 56px;
    font-weight: 600;
    height: 39px;
    text-align: center;
    color: rgb(221, 190, 67);
    font-size: 30px;
    line-height: 50px;
}

.sgp_golds img {
    position: relative;
    width: 36px;
    height: 29px;
    box-sizing: border-box;
    top: 3px;
    left: 3px;
}

.sgp_present {
    width: 149px;
    height: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 15px;
    line-height: 27px;
    color: rgb(174, 154, 194);
    text-align: center;
    background: rgb(46, 42, 63);
}

.sgp_golds_m {
    position: absolute;
    width: 100%;
    top: 156px;
    text-align: center;
    font-size: 15px;
    color: rgb(174, 154, 194);
}


/*单个充值弹出框支付按钮*/

.sgp_btns {
    width: 100%;
    height: 38px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 11px 0 13px;
    text-align: center;
    line-height: 45px;
    color: white;
    box-sizing: border-box;
}

.sgp_btn_wx,
.sgp_btn_zfb {
    width: 50%;
    height: 45px;
    line-height: 45px;
    float: left;
    background: url(../img/recharge/single_popup/btn.png) no-repeat;
    background-size: 200% 100%;
    background-position: 0 0;
}

.sgp_btn_wx a,
.sgp_btn_zfb a{
    color: white;
}
.sgp_btn_dark {
    background: url(../img/recharge/single_popup/btn.png) no-repeat;
    background-size: 200% 100%;
    background-position: -138px 0;
}

.sgp_tips {
    width: 100%;
    height: 23px;
    float: left;
    margin-top: 1px;
    text-align: center;
    line-height: 23px;
    font-size: 13px;
    color: rgb(131, 118, 161);
}

.sgp_tips img {
    position: relative;
    width: 15px;
    height: 16px;
    top: 2px;
    left: 3px;
    background: url(../img/recharge/single_popup/suggest.png) no-repeat;
    background-size: 100% 100%;
}

.sgp_line {
    width: 95%;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
    background: url(../img/recharge/single_popup/line.png) no-repeat;
    background-size: 100% 100%;
}

.game_protocol {
    width: 95%;
    height: 21px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    text-align: center;
    line-height: 21px;
    font-size: 13px;
}

.game_protocol img {
    width: 15px;
    height: 15px;
}

.game_protocol span {
    position: relative;
    font-size: 12px;
    top: -3px;
    color: rgb(105, 93, 132);
}


/*支付成功弹出框*/

.screen2 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 700;
    background: rgba(27, 6, 18, 0.7);
}

.recharge_success_popup {
    position: absolute;
    width: 292px;
    height: 292px;
    top: 45%;
    left: 50%;
    z-index: 701;
    margin-top: -146px;
    margin-left: -146px;
    background: url(../img/recharge/recharge_success/background.png) no-repeat;
    background-size: 100% 100%;
}

.accept_prize_success {
    position: absolute;
    left: 50%;
    margin-left: -59px;
    top: -34px;
    width: 118px;
    height: 118px;
    background: url(../img/recharge/recharge_success/success.png) no-repeat;
    background-size: 100% 100%;
}

.rsp_get_golds {
    width: 100%;
    float: left;
    margin-top: 106px;
    text-align: center;
    font-size: 24px;
    color: rgb(207, 203, 222);
}

.rsp_get_golds img {
    position: relative;
    width: 36px;
    height: 29px;
    left: 4px;
    top: 4px;
}

.rsp_present_golds {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    color: rgb(174, 154, 194);
}

.rsp_confirm_btn {
    position: absolute;
    width: 186px;
    height: 45px;
    bottom: 37px;
    left: 50%;
    margin-left: -93px;
    background: url(../img/recharge/recharge_success/confirm_btn.png) no-repeat;
    background-size: 200% 100%;
    background-position: 0 0;
}


/*领奖按钮*/

.accept_prize {
    width: 40px;
    height: 41px;
    float: right;
    margin-top: 5px;
    margin-right: 28px;
    background: url(../img/prize.png) no-repeat;
    background-size: 100% 100%;
}


/*横幅*/

.banner {
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 39px;
    height: 185px;
    background: url(../img/banner.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    -webkit-animation: aa 2s ease infinite;
}

@-webkit-keyframes aa {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(-3px, -3px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}


/*公告栏*/

.notice_board {
    position: absolute;
    width: 100%;
    top: 207px;
    height: 58px;
    background: url(../img/notice_board.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    box-sizing: border-box;
}


/*公告栏中的正方体*/

.notice {
    width: 100%;
    margin-top: 20px;
    height: 24px;
    overflow: hidden;
}

.cube {
    position: relative;
    width: 56%;
    height: 28px;
    float: left;
    margin-left: 20%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 14px;
    -webkit-transform: rotateX(0deg);
    margin-left: 23%;
    margin-right: auto;
    -webkit-transition: all 0.5s ease;
}

@keyframes rr {
    100% {
        transform: rotateX(360deg);
    }
}

@-webkit-keyframes rr {
    100% {
        transform: rotateX(360deg);
    }
}

.cube div {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 26px;
    color: white;
    font-size: 12px;
    color: rgb(132, 148, 198);
}

.cube div span {
    color: rgb(240, 183, 22);
}

.back {
    background: rgb(27, 20, 30);
    transform: translateZ(-14px) rotateY(0deg) rotateX(180deg);
}

.right {
    background: rgb(27, 20, 30);
    transform: rotateY(-270deg) translateX(14px);
    transform-origin: top right;
}

.left {
    background: rgb(27, 20, 30);
    transform: rotateY(270deg) translateX(-14px);
    transform-origin: center left;
}

.top {
    background: rgb(27, 20, 30);
    transform: rotateX(-270deg) rotateZ(180deg) rotateZ(180deg) translateY(-14px);
    transform-origin: top center;
}

.bottom {
    background: rgb(27, 20, 30);
    transform: rotateX(270deg) translateY(14px);
    transform-origin: bottom center;
}

.front {
    background: rgb(27, 20, 30);
    transform: translateZ(14px);
}


/*子导航栏*/

.sub_nav {
    width: 100%;
    height: 94px;
    margin-top: 154px;
    float: left;
    z-index: -100;
}

.section1 {
    float: left;
    height: 100%;
    width: 142px;
    margin-left: 39px;
    background: url(../img/sub_nav11.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}

.section2 {
    float: right;
    height: 100%;
    width: 141px;
    margin-right: 39px;
    background: url(../img/sub_nav22.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}


/*适配小屏幕设备*/

@media screen and (max-width: 370px) {
    .sub_nav {
        width: 100%;
        height: 88px;
        margin-top: 154px;
        float: left;
        z-index: -100;
    }
    .section1 {
        float: left;
        height: 100%;
        width: 121px;
        margin-left: 36px;
        background: url(../img/sub_nav11.png) no-repeat;
        background-size: 100% 100%;
        background-position: 0 0;
    }
    .section2 {
        float: right;
        height: 100%;
        width: 121px;
        margin-right: 36px;
        background: url(../img/sub_nav22.png) no-repeat;
        background-size: 100% 100%;
        background-position: 0 0;
    }
}


/*子导航栏的不同状态*/

.active1 {
    background: url(../img/sub_nav11.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}

.active2 {
    background: url(../img/sub_nav21.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}

.no_active1 {
    background: url(../img/sub_nav12.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}

.no_active2 {
    background: url(../img/sub_nav22.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
}


/*游戏与竞猜模块*/

.games {
    position: relative;
    width: 200%;
    float: left;
    -webkit-transition: all 0.5s ease;
    height: 270px;
}


/*游戏竞猜子模块*/

.game,
.guess {
    width: 50%;
    height: 270px;
    float: left;
}

.fight {
    width: 100%;
    height: 135px;
    float: left;
    background: url(../img/fight.png) no-repeat;
    background-size: 100% 100%;
    transition: all 1s ease;
}

.hero {
    width: 100%;
    height: 135px;
    float: left;
    background: url(../img/hero.png) no-repeat;
    background-size: 100% 100%;
    transition: all 1s ease;
}


/*底部*/

footer {
    position: fixed;
    width: 100%;
    height: 20px;
    bottom: 0;
    background: url(../img/footer.png) no-repeat;
    background-size: 100% 100%;
}
